{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="relative" xmlns="http://www.w3.org/1999/html">
    <div class="compte_container">
    <h1>Ici les informations du compte</h1>

    {% if app.user %}
        <div class="compte-connexion">
            Tu es connecté sur {{ app.user.username }}, <a href="{{ path('app_logout') }}"><button class="boutton_deconnecter">Se déconnecter</button></a>
        </div>
    {% endif %}

    {% for order in app.user.orders %}
    <p>Reference de la commande: {{ order.reference }}</p>
    {% for product in order.orderProducts %}
    <p>Produit: {{ product.product.title}}
    <p>Quantité de produit: {{ product.quantity }}
    <p>Prix de la commande: {{ order.price }}€</p>
    <p>Date de la commande: {{ order.createdAt | date("d/m/y") }}
    {% endfor %}
    <p>-------------------------------------------------------------</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
