{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}

    <div class="container_block">

    <div class="panel_admin">
        <h1 class="admin_title">Panel admin</h1>


        <div class="admin_text">
              <a href="{{ path('display_product') }}">Liste des produits</a><br>
              <a href="{{ path('display_category') }}">Liste des catégories</a><br>
              <a href="{{ path('display_user') }}">Liste des utilisateurs</a><br>
              <a href="{{ path('admin_display_order') }}">Liste des commandes</a>
        </div>
        {% if app.user %}
            <div class="admin_titre">
                Tu es connecté sur {{ app.user.username }} <a href="{{ path('app_logout') }}"><button class="boutton_deconnecter">Se déconnecter</button></a>
            </div>
        {% endif %}

    </div>

    </div>

{% endblock %}

