{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<div class="relative">
    <div class="tableau">
        <table>
            <caption>Votre panier<caption>
            <thead>
                <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for element in dataCart %}


                    <tr>
                        <td data-label="Produit">{{ element.product.title}}</td>
                        <td data-label="Prix">{{ element.product.price}}€</td>
                        <td data-label="Quantité">{{ element.quantite}}</td>
                        <td data-label="Total">{{ element.quantite * element.product.price}}€</td>
                        <td data-label="Actions">
                            <div class="block_actions">
                            <a href="{{path("add_cart", {id: element.product.id})}}"><i class="fas fa-plus-square"></i></a>
                            <a href="{{path("remove_cart", {id: element.product.id})}}"><i class="fas fa-minus"></i></a>
                            <a href="{{path("del_cart", {id: element.product.id})}}"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Votre panier est vide</td>
                    </tr>

                {% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>{{ total }}€
                    </td>
                </tr>
        </table>
        <table>
                <tr>
                    <td><a href="{{path("app_pay")}}">Passez commande</a></td>
                </tr>
                <tr>
                    <td><a href="{{path("del__all_cart")}}">Supprimer tout le panier</a></td>
                </tr>
                <tr>
                    <td><a href="{{path("app_menu")}}">Continuez ses achats</a></td>
                </tr>
            </tfoot>

        </table>
        </div>


    </div>
</div>
{% endblock %}