{% extends 'base.html.twig' %}

{% block body %}
<div class="relative">

    <h1>Liste des produits</h1>
    

    {% for product in products %}

    {% for categorie in product.category %}
    <p>La catégorie: {{ categorie.name }}</p>
    <p>Le nom du produit: {{ product.title }}</p>
    <p>Le prix du produit:{{ product.price }} €</p>
    {% if product.imageName %}
    <img src="/images/products/{{ product.imageName }}">
    {% endif %}
    <a href="{{ path('add_cart', {id: product.id}) }}">Ajouter au panier</a>
    
    {% endfor %}
    {% endfor %}


{% endblock %}
