{% extends 'base.html.twig' %}

{% block body %}
<div class="relative">
   
    <div class="container">
     <h1 class="title-product">Liste des produits</h1>

        <div class="con">
            <div class="products">
                <div class="propro">
                    {% for product in products %}

                    {% for categorie in product.category %}
                    <p class="text-con">{{ product.title }}</p>
                    <p class="text-con">{{ categorie.name }}</p>
                    <p class="text-con">{{ product.price }}€</p>
                </div>
                <div class = "loi">
                    {% if product.imageName %}
                    <img src="/images/products/{{ product.imageName }}" class="image">
                    {% endif %}
                    
                    
                    {% endfor %}
                    
                </div>
            </div>
            <div class="cadi"><a href="{{ path('add_cart', {id: product.id}) }}"><i class="fas fa-cart-plus"></i></a>
            {% endfor %}
            </div>
        </div>
     </div>
</div>

{% endblock %}
