{% extends 'base.html.twig' %}

{% block title %}Eat D@Q FooD (Inscription){% endblock %}

{% block body %}
            <div class="relative">
                <div class="corps">
                     <div class="container1">
                        <div class="reg_form">
                            <h1>Inscription</h1>
                        </div>
                            <div class="reg-email">
                        {{ form_start(registrationForm) }}

                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}


                    {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                                <button type="submit" class="btn">Envoyer</button>

                                <p>You have a account?<a href="{{ path('app_login') }}">Connect to your account here</a></p>
                    {{ form_end(registrationForm) }}
                    </div>
                        <div class="content_img">
                            <img class="imag_inscription"  src="img/food.png" alt="food">
                        </div>
                 </div>
            </div>
{% endblock %}
